* {
    margin: 0;
    padding: 0;
}

body {
    background: #f3dada;
    min-height: 200vh;
}

header {
    background: white;
    height: 75px;
    text-align: center;
}

.btnMenu {
    position: absolute;
    height: 50px;
    width: 75px;
    top: 12.5px;
    right: 50px;
    border: black 2px solid;
}

header img {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.interieur {
    height: 300px;
    border-radius: 30px;
    transition: 0.3s;
}

.interieur:hover {
    height: 400px;
}

.entremets {
    height: 300px;
    border-radius: 30px;
    transition: 0.3s;
}

.entremets:hover {
    height: 400px;
}

.barreLaterrale {
    position: absolute;
    background: #bc2626;
    border: black 1px solid;
    left: -300px;
    top: 1px;
    width: 200px;
    height: 200vh;
    transition: 0.5s;
}

.barreLaterraleOpen {
    position: absolute;
    left: 1px;
}